*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
.all{
    display: block;
    width: 100%;
}
#id{
    float: right;
    font-size: 0.7rem;
    margin-right: 3rem;
    margin-top: 5px;
}
.profile{
    background-color: grey;
    height: 13rem;
    width: 20rem;
}
.head{
    display: flex;
}
.head img{
    opacity: 0.7;
    border-radius: 5rem;
    background-color: grey;
    height: 3rem;
}
.head h4{
    margin: 5px 5px;
}