<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>


    
<script type="text/javascript">
    function register(){
        var x = new Array();
        x[0] = document.getElementById('fn').value;
        x[1] = document.getElementById('ln').value;
        x[2] = document.getElementById('email').value;
        x[3] = document.getElementById('loc').value;
        x[4] = document.getElementById('min').value;
        x[5] = document.getElementById('fellowship').value;
        x[6] = document.getElementById('pn').value;
        x[7] = document.getElementById('other').value;



        var h= new Array();
        h[0] = "<span style='color:red'> This field is required <span>";

        if (x[5] == "others"){
            document.getElementById('other').disabled=false
        }
    }
</script>














    <div class="all">
        <div class="reg">
            <div id="head">
                <br>
                <p>ACCFC 2022 PRE REGISTRATION</p>
            </div>
            <div class="reg-sec">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                        <div id="msg">
                            <p id="m">{{ message }}</p>
                        </div>
                        {% else %}
                            <div id="msg1">
                                <p id="m">{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
                <p>Registration Form</p>
                <form action="/index" method="POST" enctype="multipart/form-data">
                    <label for="">First Name</label>
                    <br>
                    <input type="text" name="firstname" id="fn">
                    <span id="sp1"></span>
                    <br>
                    <label for="">Last Name</label>
                    <br>
                    <input type="text" name="lastname" id="ln">
                    <span id="sp2"></span>
                    <br>
                    <label for="">Email</label>
                    <br>
                    <input type="email" name="email" id="email">
                    <span id="sp3"></span>
                    <br>
                    <label for="">Location</label>
                    <br>
                    <input type="text" name="location" id="loc">
                    <span id="sp4"></span>
                    <br>
                    <label for="">Special Ministration</label>
                    <br>
                    <input type="text" name="ministration" id="min">
                    <span id="sp5"></span>
                    <br>
                    <label for="">Fellowship</label>
                    <br>
                    <select name="fellowship" id="fellowship">
                        <option value="Select" disabled selected>Select</option>
                        <option value="Others">Others</option>
                        <option value="VLCF, Ido Ijesa">VLCF, Ido Ijesa</option>
                        <option value="VLCF, Ilesa">VLCF, Ilesa</option>
                        <option value="VCI, Iree">VCI, Iree</option>
                        <option value="VCI, Bolunduro">VCI, Bolunduro</option>
                        <option value="ASF Uniosun Osogbo">ASF Uniosun Osogbo</option>
                        <option value="BLW Ile Ife">BLW Ile Ife</option>
                        <option value="NIFES">NIFES</option>
                        <option value="VC, Esa Oke">VC, Esa Oke</option>
                        <option value="ASF, Ife">ASF, Ife</option>
                        <option value="caccf osogbo">CACCF osogbo</option>
                        <option value="FCM">FCM</option>
                        <option value="GSM Ila">GSM Ila</option>
                        <option value="VLCF, Osogbo">VLCF, Osogbo</option>
                        <option value="VLCF, Okuku">VLCF, Okuku</option>
                        <option value="Garden of Love Ilesa">Garden of Love, Ilesa</option>
                        <option value="VCI OMO WEST OSOGBO">VCI OMO WEST OSOGBO</option>
                        <option value="RCF EKSU ADO EKITI">RCF EKSU ADO EKITI</option>
                        <option value="VCLF UNIOSUN Ikire">VCLF, Ikire</option>
                        <option value="VLC EJIGBO">VLC EJIGBO</option>
                        <option value="VLI, ITA OLOKAN">VLI, ITA OLOKAN</option>
                        <option value="VLCF OSCOED Ilesa">VLCF OSCOED Ilesa</option>
                        <option value="VLCF OFFATEDO">VLCF OFFATEDO</option>
                        <option value="VLCF OAU Ife">VLCF OAU Ife</option>
                        <option value="VLCF Unilorin">VLCF Unilorin</option>
                        <option value="VYC Kajola Ilesha">VYC Kajola Ilesha</option>
                        <option value="VLC WGH ILESA">VLC WGH ILESA</option>
                        <option value="VLC ILE IFE">VLC ILE IFE</option>
                        <option value="VCI OLD IBADAN ROAD">VCI OLD IBADAN ROAD</option>
                        <option value="VCI Iwara">VCI Iwara</option>
                        <option value="VCI Lautech Ogbomoso">VCI Lautech Ogbomoso</option>
                    </select>
                    <br>
                    <label for="">Phone Number</label>
                    <br>
                    <input type="text" name="phonenumber" id="pn">
                    <span id="sp6"></span>
                    <br>
                    <label for="">Unit</label>
                    <br>
                <select name="unit" id="unit">
                    <option value="None">None</option>
                    <option value="Ushering">Ushering</option>
                    <option value="Choir">Choir</option>
                    <option value="Sanitation">Sanitation</option>
                    <option value="Media">Media</option>
                    <option value="Visitor">Visitor</option>
                </select>
                    <br>
                    <label for="">Gender</label>
                    <br>
                    <input type="radio" name="gender" value="Male"> Male
                    <input type="radio" name="gender" value="Female"> Female<br>
                    <label for="">Upload picture</label>
                    <br>
                    <input type="file" name="file">
                    <br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</body>
</html>